<%- include('../../partials/header.ejs')%>
<%- include('../../partials/navbar.ejs')%>


<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Alteração de artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/admin/articles/update">
                <input name="id" type="hidden" value="<%=article.id%>">
                <input class="form-control" type="text" name="title" placeholder="Defina o título do artigo">
                <br>
                <textarea id="article" class="form-control" placeholder="Escreva o artigo" name="body"></textarea>
                <br>
                <label>Categoria</label>
                <select name="category" id="category" class="form-control">
                    <% categories.forEach(category => { %>

                    <% if( category.id == article.categorieId) {%>
                    <option value="<%=category.id%>" selected><%=category.title%></option>
                    <% } else {%>
                    <option value="<%=category.id%>"><%=category.title%></option>
                    <%}%>
                     
                    <%  }); %>
                </select>
                <br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>

</div>

<div id="content" style="display: none;">
    <%- article.body  %>
</div>


<%- include('../../partials/footer.ejs')%>


<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ],
        init_instance_callback: () => {
            tinymce.get("article").setContent($("#content").html());
        }
    })
</script>